.owl-item {width: 128.906px; margin-right: 10px; background:powderblue; }
.owl-stage{transform: translate3d(-1527px, 0px, 0px); transition: all 0.25s ease 0s; width: 3334px;}
.badge{color: rgb(44, 25, 25);font-size: larger;}
/* .posticy{position: static} */
.main-header{position:-webkit-sticky;}


code,
pre {
  display: block;
  width: 100%;
  border: 1px dashed #333;
  background-color: #ced9ee;
  padding: 15px;
}




#swiper-color .swiper-button-next {
  color: red;
}

#swiper-replace .swiper-button-next {
  /* background-image: url(./next.svg); */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#swiper-replace .swiper-button-next::after {
  display: none;
}.Headcontainer{position: absolute;top: 500px;left: 455px;} 



/* .swiper-pagination-bullets{background-color: black ;height: 20 px;width: 10px; border: #ced9ee 3px ;clip-path: circle();color:red} */
.swiper-pagination-bullet-active {
    /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
    background: rgba(176, 180, 53, 0.99);
  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(rgba(176, 180, 53, 0.99),var(rgba(176, 180, 53, 0.99)));
  }

  .HeadContainer {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
    color: whitesmoke;
  }
  .HeadContainer img {
    filter: brightness(50%);
  }

  .btnHeaderSmall {

    font-size: 12px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;

} 
.btnHeader {

    font-size: 24px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;

}
@media only screen and (min-width: 280px) and (max-width: 599px) {
.covSlide {
	/* font-size: 28px; */
}
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.sidebar .nav-linkD.active {
  color: #2470dc;
}
.nav-linkD {
  display: block;
  font-size: larger;
  padding: .5rem 1rem;
  margin-top: 15px;
  color: #181717;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
/* .nav-linkD::hover{
  transform: translateX(-50);
} */

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

tr:hover{
  background-color: #f6f6f6 ;
  box-shadow: white 40px 40px 80px 80px;
}





@keyframes ldio-06fbmar2z23g-1 {
  0% { top: 36px; height: 258px }
  50% { top: 60px; height: 140px }
  100% { top: 60px; height: 140px }
}
@keyframes ldio-06fbmar2z23g-2 {
  0% { top: 41.99999999999999px; height: 206.00000000000001px }
  50% { top: 60px; height: 140px }
  100% { top: 60px; height: 140px }
}
@keyframes ldio-06fbmar2z23g-3 {
  0% { top: 48px; height: 208px }
  50% { top: 60px; height: 140px }
  100% { top: 60px; height: 140px }
}
.ldio-06fbmar2z23g div { position: absolute; width: 30px }.ldio-06fbmar2z23g div:nth-child(1) {
  left: 35px;
  background: #b3c430;
  animation: ldio-06fbmar2z23g-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-06fbmar2z23g div:nth-child(2) {
  left: 85px;
  background: #4c5630;
  animation: ldio-06fbmar2z23g-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-06fbmar2z23g div:nth-child(3) {
  left: 135px;
  background: #91c4a2;
  animation: ldio-06fbmar2z23g-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-v3puu1fwgxe {
  width: 200px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
  background: white;
}
.ldio-06fbmar2z23g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-06fbmar2z23g div { box-sizing: content-box; }
/* generated by https://loading.io/ */


